In [53]:
import pandas as pd

In [54]:
df=pd.read_excel("imbd_1000.xlsx")
df

,star_rating,title,content_rating,genre,duration,actors_list,Unnamed: 6
0,0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,3,9,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."
...,...,...,...,...,...,...,...
57,975,7.4,Back to the Future Part III,PG,Adventure,118,"[u'Michael J. Fox', u'Christopher Lloyd', u'Ma..."
58,976,7.4,Master and Commander: The Far Side of the World,PG-13,Action,138,"[u'Russell Crowe', u'Paul Bettany', u'Billy Bo..."
59,977,7.4,Poltergeist,PG,Horror,114,"[u'JoBeth Williams', u""Heather O'Rourke"", u'Cr..."
60,978,7.4,Wall Street,R,Crime,126,"[u'Charlie Sheen', u'Michael Douglas', u'Tamar..."
61,979 rows × 6 columns,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
df=pd.read_excel("imbd_1000.xlsx")
df

,star_rating,title,content_rating,genre,duration,actors_list,Unnamed: 6
0,0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,3,9,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."
...,...,...,...,...,...,...,...
57,975,7.4,Back to the Future Part III,PG,Adventure,118,"[u'Michael J. Fox', u'Christopher Lloyd', u'Ma..."
58,976,7.4,Master and Commander: The Far Side of the World,PG-13,Action,138,"[u'Russell Crowe', u'Paul Bettany', u'Billy Bo..."
59,977,7.4,Poltergeist,PG,Horror,114,"[u'JoBeth Williams', u""Heather O'Rourke"", u'Cr..."
60,978,7.4,Wall Street,R,Crime,126,"[u'Charlie Sheen', u'Michael Douglas', u'Tamar..."
61,979 rows × 6 columns,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62 entries, 0 to 61
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   star_rating     62 non-null     object
 1   title           61 non-null     object
 2   content_rating  61 non-null     object
 3   genre           61 non-null     object
 4   duration        61 non-null     object
 5   actors_list     61 non-null     object
 6   Unnamed: 6      61 non-null     object
dtypes: object(7)
memory usage: 3.5+ KB

In [18]:
df.describe()

,star_rating,title,content_rating,genre,duration,actors_list,Unnamed: 6
count,62,61.0,61,61,61,61,61
unique,62,10.0,61,9,11,46,60
top,...,7.4,...,R,Drama,118,"[u'Mark Hamill', u'Harrison Ford', u'Carrie Fi..."
freq,1,30.0,1,28,15,3,2

In [15]:
result=df.head(10)
print(result)

  star_rating title                                 content_rating      genre  \
0           0   9.3                       The Shawshank Redemption          R
1           1   9.2                                  The Godfather          R
2           2   9.1                         The Godfather: Part II          R
3           3     9                                The Dark Knight      PG-13
4           4   8.9                                   Pulp Fiction          R
5           5   8.9                                   12 Angry Men  NOT RATED
6           6   8.9                 The Good, the Bad and the Ugly  NOT RATED
7           7   8.9  The Lord of the Rings: The Return of the King      PG-13
8           8   8.9                               Schindler's List          R
9           9   8.9                                     Fight Club          R

    duration actors_list                                         Unnamed: 6
0      Crime         142  [u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt...
1      Crime         175    [u'Marlon Brando', u'Al Pacino', u'James Caan']
2      Crime         200  [u'Al Pacino', u'Robert De Niro', u'Robert Duv...
3     Action         152  [u'Christian Bale', u'Heath Ledger', u'Aaron E...
4      Crime         154  [u'John Travolta', u'Uma Thurman', u'Samuel L....
5      Drama          96  [u'Henry Fonda', u'Lee J. Cobb', u'Martin Bals...
6    Western         161  [u'Clint Eastwood', u'Eli Wallach', u'Lee Van ...
7  Adventure         201  [u'Elijah Wood', u'Viggo Mortensen', u'Ian McK...
8  Biography         195  [u'Liam Neeson', u'Ralph Fiennes', u'Ben Kings...
9      Drama         139  [u'Brad Pitt', u'Edward Norton', u'Helena Bonh...

In [17]:
result=df.tail(10)
print(result)

             star_rating title  \
52                   970   7.4
53                   971   7.4
54                   972   7.4
55                   973   7.4
56                   974   7.4
57                   975   7.4
58                   976   7.4
59                   977   7.4
60                   978   7.4
61  979 rows × 6 columns   NaN

                                     content_rating  genre   duration  \
52                                      Wonder Boys      R      Drama
53                               Death at a Funeral      R     Comedy
54                                   Blue Valentine  NC-17      Drama
55                            The Cider House Rules  PG-13      Drama
56                                          Tootsie     PG     Comedy
57                      Back to the Future Part III     PG  Adventure
58  Master and Commander: The Far Side of the World  PG-13     Action
59                                      Poltergeist     PG     Horror
60                                      Wall Street      R      Crime
61                                              NaN    NaN        NaN

   actors_list                                         Unnamed: 6
52         107  [u'Michael Douglas', u'Tobey Maguire', u'Franc...
53          90  [u'Matthew Macfadyen', u'Peter Dinklage', u'Ew...
54         112  [u'Ryan Gosling', u'Michelle Williams', u'John...
55         126  [u'Tobey Maguire', u'Charlize Theron', u'Micha...
56         116  [u'Dustin Hoffman', u'Jessica Lange', u'Teri G...
57         118  [u'Michael J. Fox', u'Christopher Lloyd', u'Ma...
58         138  [u'Russell Crowe', u'Paul Bettany', u'Billy Bo...
59         114  [u'JoBeth Williams', u"Heather O'Rourke", u'Cr...
60         126  [u'Charlie Sheen', u'Michael Douglas', u'Tamar...
61         NaN                                                NaN

In [21]:
df.iloc[100:200]

Empty DataFrame
Columns: [star_rating, title, content_rating, genre, duration, actors_list, Unnamed: 6]
Index: []

In [22]:
df.set_index("title",inplace=True)
df

,star_rating,content_rating,genre,duration,actors_list,Unnamed: 6
title,,,,,,
9.3,0,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
9.2,1,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
9.1,2,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
9.0,3,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
8.9,4,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."
...,...,...,...,...,...,...
7.4,975,Back to the Future Part III,PG,Adventure,118,"[u'Michael J. Fox', u'Christopher Lloyd', u'Ma..."
7.4,976,Master and Commander: The Far Side of the World,PG-13,Action,138,"[u'Russell Crowe', u'Paul Bettany', u'Billy Bo..."
7.4,977,Poltergeist,PG,Horror,114,"[u'JoBeth Williams', u""Heather O'Rourke"", u'Cr..."
7.4,978,Wall Street,R,Crime,126,"[u'Charlie Sheen', u'Michael Douglas', u'Tamar..."
NaN,979 rows × 6 columns,NaN,NaN,NaN,NaN,NaN

In [ ]:
df.loc[df["star_rating"]>7]

In [63]:
arr=df.loc[df["genre"]=='Crime']
arr

Empty DataFrame
Columns: [star_rating, title, content_rating, genre, duration, actors_list, Unnamed: 6]
Index: []

In [64]:
arr.shape[0]

0